@page "/weather"

<h1>Подсчет квадратных уравнений</h1>

<h2>Коэффициенты:</h2>

<p>
    <label>a:</label>
    <input type="number" @bind-value="@coefA" />
    <label>b:</label>
    <input type="number" @bind-value="@coefB" />
    <label>c:</label>
    <input type="number" @bind-value="@coefC" />
</p>
<p>@coefA x&sup2; + @coefB x + @coefC = 0</p>
<p>Дискриминант: @discriminant</p>
@if (discriminant > 0) {<p>Ответ: x1 = @x1; x2 = @x2</p>}
@if (discriminant == 0) {<p>Ответ: x = @x1</p>}
@if (discriminant < 0) {<p>Ответ: Корней нет</p>}
<button @onclick="MathEquations">Посчитать</button>

@code 
{
    double coefA = 0;
    double coefB = 0;
    double coefC = 0;
    string answer = "...";
    double discriminant = 0;
    double x1 = 0;
    double x2 = 0;

    private void MathEquations() 
    {
        discriminant = (coefB * coefB) - 4 * coefA * coefC;

        if (discriminant > 0)
        {
            x1 = Math.Round((coefB * (-1) + Math.Sqrt(discriminant)) / (coefA * 2), 2);
            x2 = Math.Round((coefB * (-1) - Math.Sqrt(discriminant)) / (coefA * 2), 2);
        }
        else if (discriminant == 0)
        {
            x1 = Math.Round((coefB * (-1)) / (coefA * 2), 2);
        }
    }
}
